

body {
  line-height: normal;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*my work start from here*/
* {
    margin: 0px;
    padding: 0px;
}
body, button, input, label, select, td, textarea {
    font-family: Arial, Helvetica, tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}
body{
    width: 100%;
    position: relative;
    background-color: #ffffff;
    min-width: 1080px;
}
.homepageheader {
  position: fixed;
  height: 82px;
  width: 100%;
  min-width: 980px;
  margin:  0px;
  padding: 30px 80px 30px 80px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #8E9D8E;
}
.homepageheader button{
  float: right;
  text-transform: uppercase;
  background: #cd6133;
  padding: 10px 20px 10px 20px;
}

.home-welcome {
  margin-top: 0px;
}
.home-welcome a{
  margin-top: 0px;
  text-decoration-line: none;
  font-weight: 400;
}
.home-welcome-text { 
	 
	height: 800px;
}
.home-welcome-text h1 {
 	text-align: center; 
 	font-size: 40px; 
 	padding-top: 295px; 
 	font-weight: bold; 
 	color: #ffffff;
 }
 .home-welcome-text h2 {
 	text-align: center;  
 	color: #ffffff;
  font-size: 15px;
 }
 .home-footer {
 	text-align: center;
	color: #ffffff;
	background-color: #3f3838;
	font-size: 18px;
	padding: 20px 10px;
 }

.home-prodlist h3 {
  text-align: center;
  margin: 20px 10px;
  font-size: 25px;
}
.home-prodlist-img img div {
    font-size: 20px;
}
ol, ul {
  list-style: none;
}
.home-prodlist-imgi {
    height: 350px; 
    width: 300px; 
    padding: 2px;
    background: #f7f1e3;
    
}
.home-prodlist-imgi:hover {
  border: 2px solid #ccae62;
}

